<h1>Kittens</h1>

<% @kittens.each do |kitten| %>
    <div>
        <h4><%= kitten.name %></h4>
        <p>Age: <%= kitten.age %></p>
        <p>Cuteness: <%= kitten.cuteness %></p>
        <p>Softness: <%= kitten.softness %></p>
        <%= link_to "Edit", edit_kitten_path(kitten) %>
        <%= link_to "Delete", kitten_path(kitten), method: :delete, data: { confirm: "Are you sure you want to delete #{kitten.name}?"} %>
    </div>
<% end %>